*.usd filter=lfs diff=lfs merge=lfs -text
assets/put_bottle_on_woodshelf/**/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/put_bottle_on_woodshelf/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/put_bottle_on_woodshelf/**/*.mdl filter=lfs diff=lfs merge=lfs -text
